{% extends 'layout' %}

{% block content %}
    <table class="table table-hover table-striped">
        <thead>
            <th>Name</th>
            <th></th>
        </thead>    
        {% for request in requests %}
            <tr>
                <td>{{ request.username }}</td>
                <form method="POST">
                    {{ csrfField }}
                <td>   
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-1">
                            <input type="hidden" name="username" value={{request.username}} />
                            <button type="submit" class="btn btn-primary">Accept</button>
                        </div>
                    </div>
                </td>
                </form>
            </tr>
        {% endfor %}    
    </table>
{% endblock %}