{% extends 'layout' %}

{% block content %}

{% for quest in quests %}
<div class="list-group">
    <a class="list-group-item">
    <h4 class="list-group-item-heading">{{ quest.quest_name}}</h4>
       {% if journal[quest.quest_id - 1].completed %} 
        <p class="list-group-item-text">Completed</p> 
   {% else %}
        {% if doable == "Yes" %}
            {% if quest.quest_type == "Battle" %}
            <a class="list-group-item" href="/quests/{{ quest.quest_id }}/battle">Accept</a>
            {% else %}
            <a class="list-group-item" href="/quests/{{ quest.quest_id }}">Accept</a>
            {% endif %}
        {% else %}
            <p class="list-group-item-text">Not able</p>
        {% endif %}
        </a>
   {% endif %}
{% endfor %}
{% endblock %}