{% extends 'layout' %}

{% block content %}

{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibalista</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<form class="form-horizontal" method="POST">

 {{ csrfField }}

  <fieldset>
    <legend>Regisztráció</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">E-mail</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-mail">
      </div>
    </div>
    <div class="form-group">
      <label for="inputUserName" class="col-lg-2 control-label">Felhasználónév</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUserName" name="inputUserName" placeholder="Felhasználónév">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Jelszó</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword"  name = "inputPassword" placeholder="Jelszó">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPasswordAgain" class="col-lg-2 control-label">Jelszó újra</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPasswordAgain" name="inputPasswordAgain" placeholder="Jelszó újra">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Újra</button>
        <button type="submit" class="btn btn-primary">Elküldés</button>
      </div>
    </div>
    
  </fieldset>
</form>
{% endblock %}