{% extends 'layout' %}

{% block content %}

{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibalista</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<h1 id="shopKeeper">Welcome to my humble shop! How can I be your service?</h1>
<div class="container">
    <p>Current Gold: <span id="currGold">{{ gold.gold }}</span><span class ="expense"></span></p>
</div>
<div id="data">
    <table class="table table-hover table-striped"
        <thead>
        <tr>
            <th>Item name</th>
            <th>Strength</th>
            <th>Vitality</th>
            <th>Luck</th>
            <th>Cost</th>
            <th></th>
        </tr>  
        </thead>  
    {% for item in items %}
        <tr class="data">
            <td>{{ item.item_name }}</td>
            <td>{{ item.STR }}</td>
            <td>{{ item.VIT }}</td>
            <td>{{ item.LCK }}</td>
            <td class="cost">{{ item.buy }}</td>
            <td>
                <form method="POST">
                    {{ csrfField }}
                    <input type="hidden" name="item" value="{{ item.item_name }}">
                    <input type="submit" class="btn" value="Buy"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}

{% block scripts %}
<script src="/scripts/shop.js"></script>
{% endblock %}

{% block styles %}
    <link href="/money.css" rel='stylesheet' type='text/css'>
{% endblock %}